{% extends 'base.html.twig' %}

{% block title %}Mes achats{% endblock %}

{% block body %}
<div class="container mt-3">
<a href="{{path('account')}}" class="return-show">Retour à mon compte</a>
    <div class="row my-3">
        <h3 class="col-12">Tous mes achats <span class="count-account"> ({{ commands|length }} résultats)</span></h3>
    </div>
    
<table class="table">
        <thead>
            <tr>
                <th class="d-none d-sm-table-cell">Date</th>
                <th>Référence Commande</th>
                <th>Total</th>
                <th>Détails</th>
            </tr>
        </thead>
        <tbody>
        {% for command in commands %}
            <tr>
                <td class="d-none d-sm-table-cell">{{ command.createdAt|date("d/m/Y") }}</td>
                <td>{{ command.id }}</td>
                <td>{{ command.total|format_currency('EUR', locale='de') }}</td>
                <td>
                    <a href="{{ path('command_one', {'id': command.id}) }}" class="btn btn-sm my-2 eye-color"><i class="fas fa-eye logo-eye"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">Vous n'avez pas encore de commandes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}